<div class="index-post-list col-xs-12">
  <h3 class="new-post btn btn-primary btn-lg"><%= link_to 'New Post', new_post_path %></h3>
  <% @posts.each do |post| %>
    <div class="index-post col-xs-offset-1 col-xs-10">
      <h1 class="post-title"><%= post.title %></h1>
      <h3 class="post-date"><%= post.created_at.to_formatted_s(:long) %></h3>
      <!--<%= post.body %>-->
      <!--<%= post.category_id %>-->
      <!--<%= post.intro %>-->
      <!--<%= post.user_id %>-->
      <button type="button" class="index-button btn btn-default">
        <%= link_to 'Show', post_path(post) %>
      </button>
      <button type="button" class="index-button btn btn-default">
        <%= link_to 'Edit', edit_post_path(post) %>
      </button>
      <button type="button" class="index-button btn btn-default">
        <%= link_to 'Destroy', post_path(post),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </button>
    </div>
  <% end %>
</div>