<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="container main-header col-xs-12">
    
    <div class="header-left col-sm-6 col-xs-12">
      <h1 class="blog-title">Yousuf's Blog of the Day</h1>
    </div>
    
    <div class="header-right col-sm-6 col-xs-12">
      <p class="navbar-text text-center">
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong></br>
        <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <!--<h3 class="btn btn-primary btn-lg pull-right"><%= link_to 'New Post', new_post_path %></h3>-->
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
        <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
      <% end %>
    </div>
    
  </div>

<%= yield %>

<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->




</body>
</html>
